This is wrong but should not crash ] ) } !

# comment

<beginfold id='134'>config</beginfold id='134'> BR2_PACKAGE_GAMMARAY
        bool "gammaray"
        depends on BR2_PACKAGE_QT5
        <beginfold id='131'>help</beginfold id='131'>
          GammaRay Qt introspection probe.
          second line of help, with correct indention
<endfold id='131'> </endfold id='131'>        third line underindented and thus wrong
        default 'true'

<endfold id='134'>menu</endfold id='134'> myMenu<beginfold id='135'>menu</beginfold id='135'> myMenu
<endfold id='135'>endmenu</endfold id='135'>
