# exclude everything except directory foo/bar in subdir foobar
/foobar/*
!/foobar/foo
/foobar/foo/*
!/foobar/foo/bar

/**/a?[a-z12!][]][!][:upper:]][^[=a=]]\?[\\incomplete?*
!/**/a?[a-z][]][!][:upper:]][^[=a=]]\?[\\incomplete?*
