<%!-- Elixir expression: executes code and prints result --%>
<% x = 1 %>
<%= foo() + bar() %>
<%% EEx quotation: returns the contents inside the tag as is %>
<%!-- Comments: they are discarded from source --%>
<%| nil %>
<%/ nil %>
