{
    "metadata": {
        "copyright": [
            "SPDX-FileCopyrightText: {{scheme-author}}"
        ],
        "license": "SPDX-License-Identifier: MIT",
        "name": "{{scheme-name}}",
        "revision": 1
    },
    "editor-colors": {
        "BackgroundColor": "#{{base00-hex}}",
        "BracketMatching": "#{{base02-hex}}",
        "CodeFolding": "#{{base02-hex}}",
        "CurrentLine": "#{{base03-hex}}",
        "CurrentLineNumber": "#{{base04-hex}}",
        "IconBorder": "#{{base00-hex}}",
        "IndentationLine": "#{{base02-hex}}",
        "LineNumbers": "#{{base03-hex}}",
        "MarkBookmark": "#{{base0A-hex}}",
        "MarkBreakpointActive": "#{{base0D-hex}}",
        "MarkBreakpointDisabled": "#{{base03-hex}}",
        "MarkBreakpointReached": "#{{base05-hex}}",
        "MarkError": "#{{base08-hex}}",
        "MarkExecution": "#{{base08-hex}}",
        "MarkWarning": "#{{base0B-hex}}",
        "ModifiedLines": "#{{base08-hex}}",
        "ReplaceHighlight": "#{{base04-hex}}",
        "SavedLines": "#{{base0A-hex}}",
        "SearchHighlight": "#{{base01-hex}}",
        "Separator": "#{{base09-hex}}",
        "SpellChecking": "#{{base0A-hex}}",
        "TabMarker": "#{{base02-hex}}",
        "TemplateBackground": "#{{base03-hex}}",
        "TemplateFocusedPlaceholder": "#{{base04-hex}}",
        "TemplatePlaceholder": "#{{base0B-hex}}",
        "TemplateReadOnlyPlaceholder": "#{{base03-hex}}",
        "TextSelection": "#{{base02-hex}}",
        "WordWrapMarker": "#{{base02-hex}}"
    },
    "text-styles": {
        "Alert": {
            "background-color": "#{{base0E-hex}}",
            "bold": true,
            "selected-text-color": "#{{base08-hex}}",
            "text-color": "#{{base08-hex}}"
        },
        "Annotation": {
            "selected-text-color": "#{{base05-hex}}",
            "text-color": "#{{base05-hex}}"
        },
        "Attribute": {
            "selected-text-color": "#{{base0A-hex}}",
            "text-color": "#{{base0A-hex}}"
        },
        "BaseN": {
            "selected-text-color": "#{{base09-hex}}",
            "text-color": "#{{base09-hex}}"
        },
        "BuiltIn": {
            "selected-text-color": "#{{base08-hex}}",
            "text-color": "#{{base08-hex}}"
        },
        "Char": {
            "selected-text-color": "#{{base08-hex}}",
            "text-color": "#{{base08-hex}}"
        },
        "Comment": {
            "italic": true,
            "selected-text-color": "#{{base03-hex}}",
            "text-color": "#{{base03-hex}}"
        },
        "CommentVar": {
            "selected-text-color": "#{{base03-hex}}",
            "text-color": "#{{base03-hex}}"
        },
        "Constant": {
            "selected-text-color": "#{{base03-hex}}",
            "text-color": "#{{base03-hex}}"
        },
        "ControlFlow": {
            "bold": true,
            "selected-text-color": "#{{base0E-hex}}",
            "text-color": "#{{base0E-hex}}"
        },
        "DataType": {
            "selected-text-color": "#{{base0E-hex}}",
            "text-color": "#{{base0E-hex}}"
        },
        "DecVal": {
            "selected-text-color": "#{{base09-hex}}",
            "text-color": "#{{base09-hex}}"
        },
        "Documentation": {
            "selected-text-color": "#{{base03-hex}}",
            "text-color": "#{{base03-hex}}"
        },
        "Error": {
            "selected-text-color": "#{{base08-hex}}",
            "text-color": "#{{base08-hex}}",
            "underline": true
        },
        "Extension": {
            "bold": true,
            "selected-text-color": "#{{base0A-hex}}",
            "text-color": "#{{base0A-hex}}"
        },
        "Float": {
            "selected-text-color": "#{{base09-hex}}",
            "text-color": "#{{base09-hex}}"
        },
        "Function": {
            "selected-text-color": "#{{base0D-hex}}",
            "text-color": "#{{base0D-hex}}"
        },
        "Import": {
            "selected-text-color": "#{{base0B-hex}}",
            "text-color": "#{{base0B-hex}}"
        },
        "Information": {
            "selected-text-color": "#{{base09-hex}}",
            "text-color": "#{{base09-hex}}"
        },
        "Keyword": {
            "bold": true,
            "selected-text-color": "#{{base0E-hex}}",
            "text-color": "#{{base0E-hex}}"
        },
        "Normal": {
            "selected-text-color": "#{{base05-hex}}",
            "text-color": "#{{base05-hex}}"
        },
        "Operator": {
            "selected-text-color": "#{{base05-hex}}",
            "text-color": "#{{base05-hex}}"
        },
        "Others": {
            "selected-text-color": "#{{base05-hex}}",
            "text-color": "#{{base05-hex}}"
        },
        "Preprocessor": {
            "selected-text-color": "#{{base0D-hex}}",
            "text-color": "#{{base0D-hex}}"
        },
        "RegionMarker": {
            "background-color": "#{{base03-hex}}",
            "selected-text-color": "#{{base0A-hex}}",
            "text-color": "#{{base0A-hex}}"
        },
        "SpecialChar": {
            "selected-text-color": "#{{base08-hex}}",
            "text-color": "#{{base08-hex}}"
        },
        "SpecialString": {
            "selected-text-color": "#{{base08-hex}}",
            "text-color": "#{{base08-hex}}"
        },
        "String": {
            "selected-text-color": "#{{base0B-hex}}",
            "text-color": "#{{base0B-hex}}"
        },
        "Variable": {
            "selected-text-color": "#{{base05-hex}}",
            "text-color": "#{{base05-hex}}"
        },
        "VerbatimString": {
            "selected-text-color": "#{{base0B-hex}}",
            "text-color": "#{{base0B-hex}}"
        },
        "Warning": {
            "selected-text-color": "#{{base0D-hex}}",
            "text-color": "#{{base0D-hex}}"
        }
    }
}
