[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
dist = "python -c 'import setuptools; setuptools.setup()' -- bdist_wheel"

[dev-packages]
kateschema2theme = {editable = true, path = ".", use_pep517 = false}

[packages]
click = "*"
columnize = "*"

[requires]
python_version = "3.8"
